$DJSacqua: #6bbaa7;
$DJSsunshine: #fba100;
$DJSlavender: #6c648b;
$DJSrose: #b6a19e;

$DJSbackground_grey: lighten($DJSrose, 26);
$DJSwhite: white;
$DJSdark-text: darkslategrey;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //don't do this, it will break the frontpage
  //background-color: $DJSwhite;
}

body {
  //margin: 1vw 3vw; // side margin just enough for good scroll bar on xs screens
  margin: 0;
  color: $DJSdark-text;
  font-size: large;
  background-color: $DJSwhite;
  font-family: 'Catamaran', sans-serif;
  font-weight: 200;
  max-width: max-content;
}

a {
  text-decoration: none;
  color: $DJSlavender;
  &:hover {
    color: $DJSsunshine;
  }
}

h2 {
  color: $DJSlavender;
}
