
//// HERO things
//copied from https://wweb.dev/resources/css-separator-generator
.triangle {
  position: relative;
  background: $DJSbackground_grey;
  min-height: max-content;
  padding-bottom: 80px;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 82px 82px 0 82px;
  border-color: $DJSbackground_grey transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

.hero-txt {
  justify-content: center;
  text-align: center;
  color: $DJSlavender;
  line-height: 3rem;
  font-style: normal;
  padding: 3em 1vw 0 0; // right 1vw for the scrollbar
}

.hero-title {
  font-size: 2.5rem;
}

.hero-over-title {
  text-transform: uppercase;
  padding-bottom: 1.4rem;
}

.hero-payoff {
  padding-top: 2rem;
  letter-spacing: initial;
  color: lighten($DJSlavender, 10%);
  padding-bottom: 2rem;
}

hr.separator-line {
  border: 2px solid orange;
  border-radius: 5px;
  width: 10%;
  margin:20px auto;
}

//// CONTENT THINGS
// text-container -> intro + 3 card chapters +  about us
// cards (grid) -> card (flex) -> card Content (See below)

.text-container {
  margin: 35px 3vw 0 3vw;
}

@media screen and (min-width: 1800px) {
  .text-container {
    //background-color: deeppink;
    max-width: 1800px;
    margin: 35px auto;
  }
}

.intro {
  //padding: 0 19vw 15vh 20vw;
  font-size: larger;
  //padding-top: 4vh;
  padding-bottom: 30px;
  max-width: 45ch;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto; // this auto margins is needed to center the text block...
  //text-align: center; //  ... and this is needed to center the button (moved, see below)
}

.intro-with-button-centered {
  text-align: center
}

.cards {
  //@include content-layout;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
  // ^ no media queries needed for smaller screens
  // 470 is trial and error: full column card on small screens,
  margin-bottom: 3vh;
}

.card {
  background-color: $DJSbackground_grey;
  padding: 1rem;
  height: auto;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  // box shadow
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

// CARD content
// card-header (flex) : img + card-title (course-appetite || course-around)
// card-text

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.card-title {
  padding-left: 1em;
}

  .course-appetite {
    color: $DJSacqua;
  }
  .course-around {
    color: $DJSrose;
  }

.card-text {
  line-height: initial;
  padding: 1em;
}

//button

.btn-enroll {
  border: none;
  border-radius: 10%;
  background-color: $DJSsunshine;
  color: $DJSwhite;

  display: inline-block;
  font-size: 2rem;
  margin: 60px auto 0 auto;
  padding: 14px 30px;
  cursor: pointer;

  &:hover {
    background-color: darken($DJSsunshine, 10%);;
  }
}

//styling

ul {
  list-style: outside "\2043"+" ";
}

.accented {
  color: $DJSsunshine;
}


