/*
header |flex|
  - logo
  - nav
  - account
*/

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0 2vw 1vh 1vw;

    color: $DJSdark-text;
}

.logo {
    margin-right: auto;
}

nav {
    font-size:smaller;
    /*display:inline-block; i don't needthis right?*/
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

//tooltip for the hamburger on hover
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  //positioning the tooltip
  width: 200px;
  bottom: 100%;
  left: 50%;
  margin-left: -30px;

  display: none;
  //visibility: hidden;

  font-size: small;
  background-color: $DJSlavender;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
}

.tooltip:hover .tooltiptext {
  //visibility: visible;
  display: inline-flex;
}
