<header>
  <div class="logo">logo</div>
  <nav>
    <ul>
      <li><%=link_to "course content", root_path(anchor: "course-content") %></li>
      <li>goals</li>
      <li>ams.rb workshop</li>
      <li>about us</li>
    </ul>
  </nav>
  <div class="account">
    <%=link_to "☰", '#'  %>
  </div>
</header>
