<header>
  <div class="logo">logo</div>
  <nav>
    <ul>
      <li>course content</li>
      <li>goals</li>
      <li>ams.rb workshop</li>
      <li>about us</li>
    </ul>
  </nav>
  <div class="account">
    <%=link_to "☰", '#'  %>

<!--    <a href="#">&#9776;</a>-->

  </div>
</header>
